/*---Start:: Account Sidebar---*/ 
.hni-dashboard__content{
    width: 100%;
    min-height: 598px;
    padding: 30px 50px;
    border: 1px solid #dedede;
    border-radius: 8px;
    float: left;

    h3{
        font-size: 24px;
        font-weight: 700;
        color: #333;
        margin-bottom: 30px;
    }

    form{
        width: 100%;
        float: left;
        max-width: 460px;

        .hni-inp_group{
            width: 100%;
            display: block;
            margin-bottom: 20px;
            float: left;

            &.radio{
                margin-bottom: 0; 
                border-bottom: 1px solid #dedede;
                padding: 20px 0;
                &:first{
                    padding-top: 0;
                }
                &:last-child{
                    margin-bottom: 30px;
                }
                label {
                    font-size: 16px;
                    margin-top: -3px;
                    margin-bottom: 0;
                    span{
                        width: 100%;
                        display: block;
                        color: #888;
                        font-size: 14px;
                    }
                }
            }
        }

        label{
            display: block;
            width: 100%;
            font-size: 14px;
            color: #333;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        select{
            width: 100%;
            float: left;
            height: 50px;
            padding: 0 20px;
            border: 1px solid #dedede;
            border-radius: 6px;
            background: #fff;
        }
        textarea{
            width: 100%;
            float: left;
            height: 160px;
            padding: 20px;
            border: 1px solid #dedede;
            border-radius: 6px;
        }
        input[type="radio"],
        input[type="checkbox"]{
            width: 18px;
            height: 18px;
            margin-right: 20px;
            float: left;

            &+label{
                width: calc(100% - 40px);
                float: left;
            }
            
        }
    }
}
/*---End:: Account Sidebar---*/ 