/*---Start:: Account Sidebar---*/ 
.hni-account__sidebar{
    width: 100%;
    max-width: 320px;
    border: 1px solid #dedede;
    border-radius: 8px;
    .hni-profile__picture{
        padding: 30px calc((100% - 160px) / 2);
        width: 100%;
        position: relative;

        figure{
            width: 160px;
            height: 160px;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hni-change__photo{
            width: 160px;
            height: 160px;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
/*---End:: Account Sidebar---*/ 