/*---Start:: Custom Button---*/ 
.btn {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    &.btn-pill {
        @include border-radius(30px);
    }
    &.btn-primary {
        background-color: $green700;
        border-color: $green700;
        color: $white;
        &:hover,
        &:focus {
            background-color: #49781f;
            color: $white;
        }
    }
    &.btn-outline-primary {
        border: 1px solid $green700;
        color: $green700;
        &:hover,
        &:focus {
            background-color: $green700;
            color: $white;
        }
    }
    &.btn-outline-secondary {
        border: 1px solid #dedede;
        color: $black800;
        background-color: $white;
        &:hover,
        &:focus {
            background-color: $black100;
        }
    }
    &.btn-large {
        padding: 12px 45px;
    }
}
/*---End:: Custom Button---*/ 