/*---Start:: Navbar---*/ 
.hni-top__navbar {
    background-color: $green700;
    position: relative;
    color: $white;
    padding-bottom: 50px;
    .navbar {
        padding: 0;
        display: block;
    }
    .hni-notes {
        display: flex;
        padding: 8px 0;
        svg {
            display: inline-block;
            margin-right: 5px;
            font-size: 18px;
        }
    }
    .hni-navbar {
        &__list {
            li {
                .navbar-toggler {
                    display: none;
                }
                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
                >.nav-link {
                    padding: 0;
                }
                &.dropdown {
                    .svg-inline--fa {
                        font-size: 16px;
                        margin-left: 5px;
                    }
                }
                a {
                    display: block;
                    color: $white;
                    font-weight: 700;
                    padding: 1rem 20px;
                    &:hover {
                        color: $black700;
                    }
                }
                .dropdown-menu {
                    background-color: transparent;
                    border: none;
                }
                .dropdown-item {
                    color: $black700;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: $green700;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        color: $white;
    }
    .hni-navbar__mbl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        .nav-button__mbl {
            display: flex;
            align-items: center;
            svg {
                font-size: 16px;
                vertical-align: middle;
                color: $green700;
            }
            .hni-nav__button {
                @include border-radius(20px);
                background-color: $white;
                display: table;
                margin: 0 10px;
                text-align: center;
                a {
                    display: inline-block;
                    padding: 7px;
                }
                .hb-wishlist {
                    padding-left: 14px;
                    border-right: 1px solid $green700
                }
                .hb-cart {
                    padding-right: 14px;
                }
            }
            .hb-login {
                width: 35px;
                height: 35px;
                background-color: $white;
                @include border-radius(50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1080;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: $green700;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
.offcanvas {
    will-change: transform, box-shadow;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 0.3s ease;
    box-shadow: none;
    visibility: visible !important;
}
.offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-right: 0 solid rgba(0,0,0,0);
    transform: translateX(-100%);
}
.offcanvas[data-offcanvas-show],
.offcanvas.show {
    transform: none !important;
    // opacity: 1;
}
.hni-navbar.show {
    .hni-navbar__list {
        padding-top: 40px;
        .navbar-toggler {
            display: table;
            width: 40px;
            padding: 0;
            height: 40px;
            position: absolute;
            right: 5px;
            top: 0;
        }
    }
}
@media (min-width: 992px) {
    .hni-top__navbar {
        .hni-notes {
            padding-top: 0;
        }
        .navbar {
            display: flex;
        }
        .hni-navbar__mbl {
            display: none;
        }
    }
    .offcanvas-collapse {
        display: block;
        position: static;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        width: auto !important;
        max-width: 100% !important;
        height: auto !important;
        transform: none !important;
        background-color: transparent;
    }
    .navbar-expand-lg .navbar-nav {
        justify-content: flex-end;
        .nav-item { 
            .dropdown-menu {
                display: none; 
                margin-top: 0;
                padding: 0;
                background-color: $white;
            }
        }
        .nav-item:hover > .dropdown-menu,
        .nav-item .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
            display: block;
            width: 250px;
        }
    }
}
@media (max-width: 991px) {
    .hni-top__navbar {
        &::before {
            background-color: rgba($color: #ffffff, $alpha: 0.2);
            position: absolute;
            left: 0;
            right: 0;
            top: 37px;
            height: 1px;
            content: "";
        }
        .navbar-nav {
            li {
                .dropdown-menu {
                    margin-left: 15px;
                    padding: 0;
                    margin-top: -10px;
                    .dropdown-item {
                        color: $white
                    }
                }
            }
        }
    }
}
// hni top header
.hni-logo {
    display: block;
    img {
        max-width: 100%;
    }
    .hni-logo__dsk {
        display: block;
        max-height: 60px;
    }
}
.hni-header {
    position: absolute;
    z-index: 2;
    left: 15px;
    right: 15px;
    top: 100%;
    background-color: $white;
    @include border-radius(8px);
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
    padding: 20px 24px;
    .hni-logo {
        .hni-logo__dsk {
            display: block;
            max-height: 60px;
        }
        .hni-logo__mbl {
            display: none;
        }
    }
    .hni-header__hb {
        display: flex;
        align-items: center;
        justify-content: flex-end
    }
    .hni-header__button {
        @include border-radius(20px);
        border: 1px solid $green700;
        display: table;
        margin: 0 10px;
        width: 122px;
        text-align: center;
        > a {
            display: inline-block;
            padding: 10px 15px;
            position: relative;
            &.hb-wishlist {
                border-right: 1px solid $green700;
                padding-left: 18px;
                &::after {
                    width: 8px;
                    height: 8px;
                    background-color: $red700;
                    position: absolute;
                    border: 1px solid $white;
                    top: 10px;
                    right: 11px;
                    content: "";
                    @include border-radius(50%);
                }
            }
            &.hb-cart {
                padding-right: 18px;
                .hb-cart__count {
                    position: absolute;
                    top: 5px;
                    right: 11px;
                    font-size: 10px;
                    font-weight: 600;
                    color: $white;
                    background-color: $red700;
                    border: 1px solid $white;
                    width: 17px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1em;
                    @include border-radius(50%);
                }
            }
        }
        svg {
            color: $green700;
            font-size: 20px;
            vertical-align: middle;
        }
    }
    .hni-header__login {
        .hb-login {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: $green700;
            font-weight: 700;
            .hb-user {
                border: 2px solid $green700;
                @include border-radius(50%);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $green700;
                margin-right: 10px;
                svg {
                    font-size: 21px;
                }
            }
        }
    }
}
.hni-header__search,
.hni-modal-search {
    .input-group {
        border: 1px solid #DEDEDE;
        align-items: center;
        @include border-radius(25px);
        max-width: 100%;
        width: 400px;
        .form-control {
            color: $black500;
            border: none;
            padding: 10px 10px 10px 20px;
            height: 50px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            &:focus-within,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .btn {
            color: $green700;
            font-size: 20px;
        }
    }
}
// search mobile
.btn-search__mbl {
    display: none;
}
@media (max-width: 1199px) {
    .hni-header {
        .hni-header__search {
            .input-group {
                width: 300px;
            }
        }
    }
}
@media (max-width: 991px) {
    .hni-header {
        .hni-logo {
            .hni-logo__dsk {
                display: none;
            }
            .hni-logo__mbl {
                display: block;
                max-height: 40px;
            }
        }
        .hni-header__button,
        .hni-header__login {
            display: none;
        }
    }
}
@media (max-width: 767px) {
    .hni-top__navbar {
        padding-bottom: 30px;
        .hni-header {
            padding: 10px 20px;
            .hni-header__button,
            .hni-header__login {
                display: none;
            }
        }
    }
    /* search mobile */
    .hni-header__search {
        .btn-search__mbl {
            display: table;
            margin-left: auto;
            color: $green700;
            padding: 5px;
            svg {
                font-size: 20px;
            }
        }
        form {
            display: none;
        }
    }
}
/* search modal */
.hni-modal-search {
    .modal-content {
        background-color: transparent;
        border: none;
        .modal-body {
            padding: 0;
            .input-group {
                background-color: $white;
                width: 100%;
                @include border-radius(45px);
                .form-control {
                    @include border-radius(45px);
                    height: auto;
                    padding: 20px 20px 20px 30px;
                }
            }
        }
    }
}
/*---End:: Navbar---*/ 