/*---Start:: Main Content - Payment---*/ 
.hni-payment {
    margin: 40px auto;
    max-width: 950px;
    .hni-title h5 {
        font-size: 18px;
        padding-bottom: 20px;
    }
    &__sidebar {
        @include border-radius(8px);
        border: 1px solid #dedede;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        background-color: $white;
        padding: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(../img/payment-frame.png);
            height: 21px;
            width: 100%;
        }
        .hni-ps__cart {
            .ps-cart__item {
                display: flex;
                align-items: flex-start;
                font-size: 16px;
                color: $black700;
                margin: 20px 0;
                .psc-img {
                    width: 60px;
                    height: 60px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
                .psc-title {
                    margin-left: 20px;
                    margin-right: 15px;
                    flex: 1%;
                }
            }
        }
        .hni-ps__address {
            padding: 20px 0;
            margin: 20px 0;
            border-bottom: 1px solid #dedede;
            border-top: 1px solid #dedede;
            span {
                font-size: 12px;
                display: block;
                margin-bottom: 5px;
            }
            h5 {
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: normal;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
                color: $black500;
                span {
                    color: $black800;
                    font-size: 16px;
                    line-height: normal;
                    margin-bottom: 0;
                }
            }
        }
        .hni-ps__total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
        }
    }
    &__content {
        padding: 30px;
        > .btn {
            margin-top: 20px;
        }
        .hni-payment__select_acc {
            label {
                font-size: 16px;
                color: $black700;
                margin-bottom: 10px;
                display: block;
            }
            .hni-payment__account {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                .form-select {
                    max-width: 290px;
                    padding: 12px 20px;
                }
                .btn {
                    font-size: 14px;
                    padding: 8px 15px;
                    margin: 0;
                    svg {
                        font-size: 13px;
                        color: $green700;
                        margin-right: 5px;
                    }
                }
            }
        }
        p {
            font-size: 16px;
            color: $black700;
            margin-bottom: 10px;
        }
    }
    .hni-list__bank {
        color: $black700;
        width: 100%;
        margin-bottom: 30px;
        li {
            border-bottom: 1px solid #dedede;
            padding: 10px 0;
            display: flex;
            >div{
                &:first-child {
                    width: 115px;
                }
                &:nth-child(2) {
                    flex: 1%;
                    margin-left: 25px;
                    margin-right: 20px;
                }
            }
            span {
                display: block;
                font-size: 12px;
                line-height: 1.5em;
            }
            h5 {
                line-height: 1.5em;
                font-weight: 700;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    &__confirmation {
        border: 1px solid #dedede;
        @include border-radius(8px);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        background-color: $white;
        padding: 30px;
        margin: 90px auto;
        max-width: 100%;
        width: 660px;
        h5 {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .btn {
            margin: 0 auto;
            display: table;
        }
        // custom file input
        .form-file {
            background-color: #FAFAFA;
            @include border-radius(6px);
            border: 1px solid #dedede;
            position: relative;
            padding: 60px 20px;
            margin-bottom: 30px;
            .custom-file-input {
                position: absolute;
                margin: 0;
                padding: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                outline: none;
                opacity: 0;
                cursor: pointer;
            }
            .drag-text {
                text-align: center;
                font-size: 14px;
                color: #555555;
                svg {
                    font-size: 36px;
                    display: table;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .hni-payment{
        .hni-title h5 {
            padding-bottom: 15px;
        }
        &__sidebar {
            padding: 20px;
        }
        &__content {
            padding: 20px 0;
            .hni-payment__select_acc {
                .hni-payment__account {
                    display: block;
                    .form-select {
                        margin-bottom: 10px;
                        max-width: 100%;
                        padding: 8px 15px;
                    }
                }
            }
            .hni-payment__select_acc label,
            .hni-payment__select_acc .form-select,
            p {
                font-size: 14px;
            }
        }
        .hni-list__bank li {
            display: block;
            >div {
                &:first-child {
                    width: auto;
                }
                &:nth-child(2) {
                    margin: 5px 0;
                    flex: unset;
                }
            }
        }
        &__confirmation {
            padding: 20px;
            margin: 40px 0;
            .form-file {
                padding: 40px 15px;
            }
        }
    }
}
@media (max-width: 767px) {
    .hni-payment__sidebar {
        margin-bottom: 40px;
    }
}
/*---End:: Main Content - Payment---*/ 