/*---Start:: Sidebar---*/ 
.hni-title {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    h5 {
        font-size: 24px;
        font-weight: 700;
        color: $black700;
        padding-bottom: 8px;
        margin-bottom: 0;
        display: table;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $green700;
            content: "";
        }
    }
}
.hni-sidebar {
    .sidebar-banner {
        max-width: 100%;
        margin-top: 40px;
    }
    .form-check {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        padding: 0;
        .form-check-input {
            width: 18px;
            height: 18px;
            float: none;
            margin: 0;
            border: 1px solid #dedede;
            margin-right: 10px;
            @include border-radius(4px);
            &:checked {
                background-color: $green700;
                border-color: $green700;
            }
        }
        .form-check-label {
            margin: 0;
            font-size: 16px;
            color: $black700;
            font-family: $nunito;
        }
    }
}
@media (max-width: 767px) {
    .hni-sidebar {
        .sidebar-banner {
            width: 50%;
            margin: 0 auto;
            display: table;
            margin-bottom: 40px;
        }
    }
}
/*---End:: Sidebar---*/ 
/*---Start:: Sidebar Right---*/ 
.hni-sidebar__right {
    @include border-radius(8px);
    border: 1px solid #dedede;
    background-color: $white;
    position: relative;
    padding: 20px;
    .hni-title {
        margin-bottom: 0;
        h5 {
            padding-bottom: 20px;
        }
    }
    .hni-other__product {
        margin: 0;
        li {
            border-top: 1px solid #dedede;
            padding: 20px 0;
            display: flex;
            &:first-child {
                border: none;
            }
            .img-left {
                width: 80px;
                height: 80px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            .desc-right {
                margin-left: 20px;
                flex: 1%;
                .hni-breadcrumb {
                    font-size: 12px;
                    text-align: left;
                }
                h5 {
                    margin: 5px 0;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1em;
                    a:hover {
                        color: $green700;
                    }
                }
                .price {
                    font-size: 16px;
                    font-weight: 700;
                    color: $green600;
                    display: table;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .hni-sidebar__right {
        margin-top: 40px;
    }
}
/*---End:: Sidebar Right---*/ 