/*---Start:: Sidebar---*/ 
.hni-sidebar {
    .sidebar-banner {
        max-width: 100%;
    }
    .hni-sidebar__title {
        border-bottom: 1px solid #dedede;
        margin-bottom: 20px;
        h5 {
            font-size: 24px;
            font-weight: 700;
            color: $black700;
            padding-bottom: 8px;
            margin-bottom: 0;
            display: table;
            position: relative;
            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $green700;
                content: "";
            }
        }
    }
}
/*---End:: Sidebar---*/ 