/*---Start:: Sidebar---*/ 
.hni-title {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    h5 {
        font-size: 24px;
        font-weight: 700;
        color: $black700;
        padding-bottom: 8px;
        margin-bottom: 0;
        display: table;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: $green700;
            content: "";
        }
    }
}
.hni-sidebar {
    .sidebar-banner {
        max-width: 100%;
        margin-top: 40px;
    }
    .form-check {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        padding: 0;
        .form-check-input {
            width: 18px;
            height: 18px;
            float: none;
            margin: 0;
            border: 1px solid #dedede;
            margin-right: 10px;
            @include border-radius(4px);
            &:checked {
                background-color: $green700;
                border-color: $green700;
            }
        }
        .form-check-label {
            margin: 0;
            font-size: 16px;
            color: $black700;
            font-family: $nunito;
        }
    }
}
@media (max-width: 767px) {
    .hni-sidebar {
        .sidebar-banner {
            width: 50%;
            margin: 0 auto;
            display: table;
            margin-bottom: 40px;
        }
    }
}
/*---End:: Sidebar---*/ 