@import 'variables';
@import 'mixin';

body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: $nunito;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $black800;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
*:focus,
*:focus-within {
    outline: none;
    box-shadow: none;
}
.container {
    position: relative;
}

@import 'button';
@import 'navbar';
@import 'footer';

/*---MAIN CONTENT---*/ 
// top main
.hni-breadcrumb {
    display: block;
    color: $black500;
    font-size: 13px;
    text-align: center;
}
@import 'mainHeader';
@import 'mainCategory';