@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-blue700 {
  color: #0B5085;
}

.text-green700 {
  color: #5E982A;
}

.text-red700 {
  color: #D02828;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

*:focus,
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.container {
  position: relative;
}

/*---Start:: Custom Button---*/
.btn {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
}
.btn.btn-pill {
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -border-radius: 30px;
}
.btn.btn-primary {
  background-color: #5E982A;
  border-color: #5E982A;
  color: #ffffff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #49781f;
  color: #ffffff;
}
.btn.btn-outline-primary {
  border: 1px solid #5E982A;
  color: #5E982A;
}
.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
  background-color: #5E982A;
  color: #ffffff;
}
.btn.btn-outline-secondary {
  border: 1px solid #dedede;
  color: #000000;
  background-color: #ffffff;
}
.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus {
  background-color: #F6F6F6;
}
.btn.btn-large {
  padding: 12px 45px;
}

@media (max-width: 991px) {
  .btn.btn-large {
    padding: 10px 25px;
    font-size: 15px;
  }
}
/*---End:: Custom Button---*/
/*---Start:: Navbar---*/
.hni-top__navbar {
  background-color: #5E982A;
  position: relative;
  color: #ffffff;
  padding-bottom: 50px;
}
.hni-top__navbar .navbar {
  padding: 0;
  display: block;
}
.hni-top__navbar .hni-notes {
  display: flex;
  padding: 8px 0;
}
.hni-top__navbar .hni-notes svg {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}
.hni-top__navbar .hni-navbar__list li .navbar-toggler {
  display: none;
}
.hni-top__navbar .hni-navbar__list li .dropdown-toggle::after {
  display: none;
}
.hni-top__navbar .hni-navbar__list li > .nav-link {
  padding: 0;
}
.hni-top__navbar .hni-navbar__list li.dropdown .svg-inline--fa {
  font-size: 16px;
  margin-left: 5px;
}
.hni-top__navbar .hni-navbar__list li a {
  display: block;
  color: #ffffff;
  font-weight: 700;
  padding: 1rem 20px;
}
.hni-top__navbar .hni-navbar__list li a:hover {
  color: #333333;
}
.hni-top__navbar .hni-navbar__list li .dropdown-menu {
  background-color: transparent;
  border: none;
}
.hni-top__navbar .hni-navbar__list li .dropdown-item {
  color: #333333;
}
.hni-top__navbar .hni-navbar__list li .dropdown-item:hover, .hni-top__navbar .hni-navbar__list li .dropdown-item:focus {
  background-color: transparent;
  color: #5E982A;
}
.hni-top__navbar .navbar-toggler {
  color: #ffffff;
}
.hni-top__navbar .hni-navbar__mbl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl {
  display: flex;
  align-items: center;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl svg {
  font-size: 16px;
  vertical-align: middle;
  color: #5E982A;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl .hni-nav__button {
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -border-radius: 20px;
  background-color: #ffffff;
  display: table;
  margin: 0 10px;
  text-align: center;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl .hni-nav__button a {
  display: inline-block;
  padding: 7px;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl .hni-nav__button .hb-wishlist {
  padding-left: 14px;
  border-right: 1px solid #5E982A;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl .hni-nav__button .hb-cart {
  padding-right: 14px;
}
.hni-top__navbar .hni-navbar__mbl .nav-button__mbl .hb-login {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1080;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #5E982A;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}

.offcanvas {
  will-change: transform, box-shadow;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease;
  box-shadow: none;
  visibility: visible !important;
}

.offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-right: 0 solid rgba(0, 0, 0, 0);
  transform: translateX(-100%);
}

.offcanvas[data-offcanvas-show],
.offcanvas.show {
  transform: none !important;
}

.hni-navbar.show .hni-navbar__list {
  padding-top: 40px;
}
.hni-navbar.show .hni-navbar__list .navbar-toggler {
  display: table;
  width: 40px;
  padding: 0;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 0;
}

@media (min-width: 992px) {
  .hni-top__navbar .hni-notes {
    padding-top: 0;
  }
  .hni-top__navbar .navbar {
    display: flex;
  }
  .hni-top__navbar .hni-navbar__mbl {
    display: none;
  }

  .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    transform: none !important;
    background-color: transparent;
  }

  .navbar-expand-lg .navbar-nav {
    justify-content: flex-end;
  }
  .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
    display: none;
    margin-top: 0;
    padding: 0;
    background-color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .nav-item:hover > .dropdown-menu,
.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    width: 250px;
  }
}
@media (max-width: 991px) {
  .hni-top__navbar::before {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    height: 1px;
    content: "";
  }
  .hni-top__navbar .navbar-nav li .dropdown-menu {
    margin-left: 15px;
    padding: 0;
    margin-top: -10px;
  }
  .hni-top__navbar .navbar-nav li .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
}
.hni-logo {
  display: block;
}
.hni-logo img {
  max-width: 100%;
}
.hni-logo .hni-logo__dsk {
  display: block;
  max-height: 60px;
}

.hni-header {
  position: absolute;
  z-index: 2;
  left: 15px;
  right: 15px;
  top: 100%;
  background-color: #ffffff;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
}
.hni-header .hni-logo .hni-logo__dsk {
  display: block;
  max-height: 60px;
}
.hni-header .hni-logo .hni-logo__mbl {
  display: none;
}
.hni-header .hni-header__hb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hni-header .hni-header__button {
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -border-radius: 20px;
  border: 1px solid #5E982A;
  display: table;
  margin: 0 10px;
  width: 122px;
  text-align: center;
}
.hni-header .hni-header__button > a {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.hni-header .hni-header__button > a.hb-wishlist {
  border-right: 1px solid #5E982A;
  padding-left: 18px;
}
.hni-header .hni-header__button > a.hb-wishlist::after {
  width: 8px;
  height: 8px;
  background-color: #D02828;
  position: absolute;
  border: 1px solid #ffffff;
  top: 10px;
  right: 11px;
  content: "";
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
}
.hni-header .hni-header__button > a.hb-cart {
  padding-right: 18px;
}
.hni-header .hni-header__button > a.hb-cart .hb-cart__count {
  position: absolute;
  top: 5px;
  right: 11px;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #D02828;
  border: 1px solid #ffffff;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
}
.hni-header .hni-header__button svg {
  color: #5E982A;
  font-size: 20px;
  vertical-align: middle;
}
.hni-header .hni-header__login .hb-login {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #5E982A;
  font-weight: 700;
}
.hni-header .hni-header__login .hb-login .hb-user {
  border: 2px solid #5E982A;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5E982A;
  margin-right: 10px;
}
.hni-header .hni-header__login .hb-login .hb-user svg {
  font-size: 21px;
}

.hni-header__search .input-group,
.hni-modal-search .input-group {
  border: 1px solid #DEDEDE;
  align-items: center;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  -border-radius: 25px;
  max-width: 100%;
  width: 400px;
}
.hni-header__search .input-group .form-control,
.hni-modal-search .input-group .form-control {
  color: #777777;
  border: none;
  padding: 10px 10px 10px 20px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.hni-header__search .input-group .form-control:focus-within, .hni-header__search .input-group .form-control:focus,
.hni-modal-search .input-group .form-control:focus-within,
.hni-modal-search .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.hni-header__search .input-group .btn,
.hni-modal-search .input-group .btn {
  color: #5E982A;
  font-size: 20px;
}

.btn-search__mbl {
  display: none;
}

@media (max-width: 1199px) {
  .hni-header .hni-header__search .input-group {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .hni-header .hni-logo .hni-logo__dsk {
    display: none;
  }
  .hni-header .hni-logo .hni-logo__mbl {
    display: block;
    max-height: 40px;
  }
  .hni-header .hni-header__button,
.hni-header .hni-header__login {
    display: none;
  }
}
@media (max-width: 767px) {
  .hni-top__navbar {
    padding-bottom: 30px;
  }
  .hni-top__navbar .hni-header {
    padding: 10px 20px;
  }
  .hni-top__navbar .hni-header .hni-header__button,
.hni-top__navbar .hni-header .hni-header__login {
    display: none;
  }

  /* search mobile */
  .hni-header__search .btn-search__mbl {
    display: table;
    margin-left: auto;
    color: #5E982A;
    padding: 5px;
  }
  .hni-header__search .btn-search__mbl svg {
    font-size: 20px;
  }
  .hni-header__search form {
    display: none;
  }
}
/* search modal */
.hni-modal-search .modal-content {
  background-color: transparent;
  border: none;
}
.hni-modal-search .modal-content .modal-body {
  padding: 0;
}
.hni-modal-search .modal-content .modal-body .input-group {
  background-color: #ffffff;
  width: 100%;
  -webkit-border-radius: 45px;
  -ms-border-radius: 45px;
  -border-radius: 45px;
}
.hni-modal-search .modal-content .modal-body .input-group .form-control {
  -webkit-border-radius: 45px;
  -ms-border-radius: 45px;
  -border-radius: 45px;
  height: auto;
  padding: 20px 20px 20px 30px;
}

@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}
@media (max-width: 767px) {
  .hni-notes {
    overflow: hidden;
  }
  .hni-notes .text-marquee {
    animation: marquee 7s linear infinite;
    display: inline-block;
    white-space: nowrap;
  }
  .hni-notes .text-marquee:hover {
    animation-play-state: paused;
  }
}
/*---End:: Navbar---*/
/*---Start:: Footer---*/
.hni-footer .hni-footer__newsletter h1 {
  color: #ffffff;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}
.hni-footer .hni-footer__newsletter .hni-fn__email .input-group {
  background-color: #ffffff;
  align-items: center;
  -webkit-border-radius: 35px;
  -ms-border-radius: 35px;
  -border-radius: 35px;
  align-items: center;
  max-width: 650px;
  width: 100%;
  margin-left: auto;
}
.hni-footer .hni-footer__newsletter .hni-fn__email .form-control {
  color: #777777;
  font-size: 16px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border: none;
  height: 70px;
  padding: 10px 25px;
}
.hni-footer .hni-footer__newsletter .hni-fn__email .form-control:focus, .hni-footer .hni-footer__newsletter .hni-fn__email .form-control:focus-within {
  box-shadow: none;
  outline: none;
}
.hni-footer .hni-footer__newsletter .hni-fn__email .btn {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  -border-radius: 25px;
  padding: 12px 45px;
}
.hni-footer .hni-footer__newsletter {
  background-color: #5E982A;
  padding: 90px 0;
}
.hni-footer .hni-footer__main {
  padding: 90px 0;
}
.hni-footer .hni-footer__main h5 {
  color: #5E982A;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.6em;
}
.hni-footer .hni-footer__main p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}
.hni-footer .hni-footer__main .row:first-child {
  margin-bottom: 40px;
}
.hni-footer .hni-footer__main .hni-footer__sosmed ul {
  margin: 0;
  display: flex;
  align-items: center;
}
.hni-footer .hni-footer__main .hni-footer__sosmed ul li {
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
  margin: 0 5px;
}
.hni-footer .hni-footer__main .hni-footer__sosmed ul li a {
  font-size: 18px;
  color: #5E982A;
  display: block;
}
.hni-footer .hni-footer__main .hni-footer__sosmed ul li a svg {
  vertical-align: middle;
  display: inline-block;
}
.hni-footer .hni-footer__main .hbi-crm__item {
  display: flex;
  align-items: center;
  text-align: center;
}
.hni-footer .hni-footer__main .hbi-crm__item > div {
  width: 16px;
  margin-right: 5px;
}
.hni-footer .hni-footer__main .hbi-fm__crm li {
  float: left;
  width: 50%;
  margin-bottom: 5px;
}
.hni-footer .hni-footer__main .hbi-fm__menus li {
  margin-top: 8px;
}
.hni-footer .hni-footer__main .hbi-fm__menus li a {
  display: block;
  color: #333333;
  line-height: 1.5em;
}
.hni-footer .hni-footer__main .hbi-fm__menus li a:hover {
  color: #5E982A;
}
.hni-footer .hni-footer__cr {
  padding: 1rem 0;
  background-color: #5E982A;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 1199px) {
  .hni-footer .hni-footer__main .hbi-fm__crm li {
    float: none;
    width: 100%;
    margin-bottom: 8px;
  }
}
@media (max-width: 991px) {
  .hni-footer .hni-footer__newsletter,
.hni-footer .hni-footer__main {
    padding: 40px 0;
  }
}
@media (min-width: 768px) {
  .hni-footer .hni-footer__main .hni-address__mbl {
    display: none;
  }
}
@media (max-width: 767px) {
  .hni-footer .hni-logo {
    margin-bottom: 40px;
  }
  .hni-footer .hni-footer__newsletter h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  .hni-footer .hni-footer__newsletter .hni-fn__email .input-group {
    display: block;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .hni-footer .hni-footer__newsletter .hni-fn__email .input-group .form-control {
    width: 100%;
    -webkit-border-radius: 35px;
    -ms-border-radius: 35px;
    -border-radius: 35px;
  }
  .hni-footer .hni-footer__newsletter .hni-fn__email .btn {
    margin-bottom: 0;
  }
  .hni-footer .hni-footer__main .hni-address__dsk {
    display: none;
  }
  .hni-footer .hni-footer__main .hni-address__mbl li {
    margin-bottom: 10px;
  }
  .hni-footer .hni-footer__main .hni-address__mbl li h5, .hni-footer .hni-footer__main .hni-address__mbl li p {
    margin-bottom: 0;
  }
  .hni-footer .hni-footer__main .hni-address__mbl li:last-child {
    margin-bottom: 0;
  }
}
/*---End:: Footer---*/
/*---Start:: Sidebar---*/
.hni-title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}
.hni-title h5 {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 8px;
  margin-bottom: 0;
  display: table;
  position: relative;
}
.hni-title h5::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #5E982A;
  content: "";
}

.hni-sidebar .sidebar-banner {
  max-width: 100%;
  margin-top: 40px;
}
.hni-sidebar .form-check {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
}
.hni-sidebar .form-check .form-check-input {
  width: 18px;
  height: 18px;
  float: none;
  margin: 0;
  border: 1px solid #dedede;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -border-radius: 4px;
}
.hni-sidebar .form-check .form-check-input:checked {
  background-color: #5E982A;
  border-color: #5E982A;
}
.hni-sidebar .form-check .form-check-label {
  margin: 0;
  font-size: 16px;
  color: #333333;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 767px) {
  .hni-sidebar .sidebar-banner {
    width: 50%;
    margin: 0 auto;
    display: table;
    margin-bottom: 40px;
  }
}
/*---End:: Sidebar---*/
/*---Start:: Sidebar Right---*/
.hni-sidebar__right {
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
}
.hni-sidebar__right .hni-title {
  margin-bottom: 0;
}
.hni-sidebar__right .hni-title h5 {
  padding-bottom: 20px;
}
.hni-sidebar__right .hni-other__product {
  margin: 0;
}
.hni-sidebar__right .hni-other__product li {
  border-top: 1px solid #dedede;
  padding: 20px 0;
  display: flex;
}
.hni-sidebar__right .hni-other__product li:first-child {
  border: none;
}
.hni-sidebar__right .hni-other__product li .img-left {
  width: 80px;
  height: 80px;
}
.hni-sidebar__right .hni-other__product li .img-left img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.hni-sidebar__right .hni-other__product li .desc-right {
  margin-left: 20px;
  flex: 1%;
}
.hni-sidebar__right .hni-other__product li .desc-right .hni-breadcrumb {
  font-size: 12px;
  text-align: left;
}
.hni-sidebar__right .hni-other__product li .desc-right h5 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
}
.hni-sidebar__right .hni-other__product li .desc-right h5 a:hover {
  color: #5E982A;
}
.hni-sidebar__right .hni-other__product li .desc-right .price {
  font-size: 16px;
  font-weight: 700;
  color: #748B5F;
  display: table;
}

@media (max-width: 991px) {
  .hni-sidebar__right {
    margin-top: 40px;
  }
}
/*---End:: Sidebar Right---*/
/*---MAIN CONTENT---*/
.hni-content {
  padding: 40px 0;
}

.hni-breadcrumb {
  display: block;
  color: #777777;
  font-size: 13px;
  text-align: center;
}
.hni-breadcrumb:hover {
  color: #5E982A;
}

.form-select {
  font-family: "Nunito", sans-serif;
  color: #333333;
  padding: 7px 15px;
  font-size: 16px;
  border-color: #dedede;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -border-radius: 6px;
  background-image: url(../img/select_dropdown.png);
  background-size: 10px;
}
.form-select:focus {
  border-color: #AAAAAA;
}

.hni-shorting__select {
  display: flex;
  align-items: center;
}
.hni-shorting__select label {
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #333333;
}
.hni-shorting__select .form-select {
  width: 200px;
  max-width: 100%;
  margin-left: 10px;
}
.hni-shorting__ic {
  text-align: right;
}
.hni-shorting__ic a {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #AAAAAA;
}
.hni-shorting__ic a:first-child {
  margin-right: 10px;
}
.hni-shorting__ic a.active {
  color: #5E982A;
}

@media (max-width: 425px) {
  .hni-shorting__select label,
.hni-shorting__select .form-select {
    font-size: 14px;
    margin: 0;
  }
  .hni-shorting__select label {
    width: 75px;
  }
  .hni-shorting__ic a {
    font-size: 22px;
  }
  .hni-shorting__ic a:first-child {
    margin-right: 5px;
  }
}
/*---Start:: Main Content - Top Header---*/
.hni-space-content {
  padding: 0 30px;
}

.hni-top__main {
  background-image: url(../img/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0 60px 0;
}
.hni-top__main h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 0;
}
.hni-top__main h1 span {
  display: block;
}
.hni-top__main p {
  color: #333333;
  font-size: 18px;
  margin: 30px 0;
}
.hni-top__main .hni-header__img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .hni-space-content {
    padding: 0 60px;
  }

  .hni-top__main {
    padding: 90px 0 100px 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hni-top__main h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .hni-space-content {
    padding: 0;
  }

  .hni-top__main p {
    font-size: 14px;
    margin: 10px 0;
  }
  .hni-top__main .hni-header__img {
    max-width: 90%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/*Header Section*/
.hni-header__section {
  background-image: url(../img/bg-topheader.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0 60px 0;
  position: relative;
}
.hni-header__section::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  z-index: 0;
  background-color: rgba(29, 62, 0, 0.8);
}
.hni-header__section h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
.hni-header__section .list-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.hni-header__section .list-breadcrumb li {
  font-size: 16px;
  color: #ffffff;
}
.hni-header__section .list-breadcrumb li a {
  padding: 0 5px;
  display: block;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .hni-top__main,
.hni-header__section {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .hni-top__main,
.hni-header__section {
    padding: 60px 0 30px 0;
  }
  .hni-top__main h1,
.hni-header__section h1 {
    font-size: 32px;
  }

  .hni-header__section .list-breadcrumb li {
    font-size: 14px;
  }
}
/*---End:: Main Content - Top Header---*/
/*---Start:: Main Content - Category---*/
.hni-category {
  background-color: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 60px 30px 0 30px;
  margin-top: -60px;
}
.hni-category__item {
  background-color: #F6F6F6;
  padding: 40px 35px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  position: relative;
  height: 100%;
}
.hni-category__item .hni-breadcrumb {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #5E982A;
}
.hni-category__item h5 {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin: 20px 0;
}
.hni-category__item .hni-ci__desc {
  max-width: 75%;
  height: calc(100% - 61px);
}
.hni-category__item .img-abs {
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
}
.hni-category__item .img-abs img {
  max-height: 95%;
  max-width: 100%;
}

.hni-feature {
  padding: 60px 0;
  border-bottom: 1px solid #DEDEDE;
}
.hni-feature__item {
  display: flex;
  align-items: center;
}
.hni-feature__item .hni-feature__icon {
  width: 44px;
  margin-right: 30px;
}
.hni-feature__item .hni-feature__icon img {
  max-width: 100%;
}
.hni-feature__item h5 {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.hni-feature__item span {
  display: block;
  color: #333333;
}

@media (min-width: 1200px) {
  .hni-category {
    padding: 90px 60px 0 60px;
    margin-top: -90px;
  }

  .hni-feature {
    padding: 90px 0;
  }
}
@media (max-width: 1024px) {
  .hni-category {
    padding-top: 40px;
    margin-top: -40px;
  }
  .hni-category__item {
    padding: 30px;
  }

  .hni-feature {
    padding: 40px 0;
  }
}
@media (min-width: 992px) {
  .hni-category > .row {
    margin: 0 -5px;
  }
  .hni-category > .row > div {
    padding: 0 5px;
  }
}
@media (max-width: 991px) {
  .hni-category .row > div {
    margin-bottom: 10px;
  }

  .hni-feature {
    padding: 20px 0 30px 0;
  }
  .hni-feature__item {
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  .hni-category {
    margin-top: 0;
    padding: 40px 0 0;
  }
  .hni-category__item .hni-breadcrumb {
    font-size: 10px;
  }
  .hni-category__item .hni-ci__desc {
    height: auto;
  }
  .hni-category__item h5 {
    font-size: 17px;
    margin: 15px 0;
  }
  .hni-category__item .btn {
    font-size: 11px;
    padding: 7px 20px;
  }

  .hni-feature__item {
    display: block;
  }
  .hni-feature__item h5,
.hni-feature__item span {
    font-size: 12px;
  }
  .hni-feature__item .hni-feature__icon {
    margin-bottom: 10px;
    margin-right: 0;
    width: 30px;
  }
}
/*---End:: Main Content - Category---*/
/*---Start:: Main Content - Product---*/
.btn-wishlist {
  font-weight: 600;
  font-size: 16px;
  color: #AAAAAA;
}
.btn-wishlist svg {
  font-size: 24px;
  color: #D02828;
  vertical-align: middle;
}
.btn-wishlist:hover {
  color: #D02828;
}

.hni-product__nav {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hni-product__nav li button {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 0 20px;
  line-height: normal;
  background: transparent;
  border: none;
}
.hni-product__nav li button.active, .hni-product__nav li button:hover, .hni-product__nav li button:focus {
  color: #5E982A;
}

@media (max-width: 767px) {
  .hni-product__nav {
    margin-bottom: 15px;
  }
  .hni-product__nav li button {
    font-size: 14px;
    padding: 5px 10px;
  }
}
@media (max-width: 359px) {
  .hni-product__nav li button {
    font-size: 12px;
    padding: 5px 8px;
  }
}
.btn-product__more {
  display: table;
  margin: 20px auto 0 auto;
}

.hni-product {
  padding: 60px 0;
}
.hni-product__row {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.hni-product__row .hni-product__col {
  width: 20%;
  flex: 0 0 auto;
  padding: 0 10px;
  margin-bottom: 20px;
}
.hni-product__wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
}
.hni-product__wrapper .row > div {
  margin-bottom: 20px;
}

.hni-product__item {
  border: 1px solid #EFEFEF;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  background-color: #ffffff;
}
.hni-product__item:hover {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.hni-product__item .product-line {
  width: 100%;
}
.hni-product__item .product-img {
  position: relative;
  padding: 20px;
}
.hni-product__item .product-img > a {
  display: block;
}
.hni-product__item .product-img img {
  width: 100%;
}
.hni-product__item .product-img .product-band {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FFAE10;
  color: #3C0000;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -border-radius: 50%;
  text-transform: uppercase;
}
.hni-product__item .product-desc {
  text-align: center;
  padding: 0 10px 30px 10px;
}
.hni-product__item h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 3px 0;
  line-height: 1.5em;
}
.hni-product__item h5 a {
  display: block;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hni-product__item h5 a:hover {
  color: #5E982A;
}
.hni-product__item .price {
  margin-bottom: 15px;
}
.hni-product__item .price span {
  display: inline-block;
  color: #748B5F;
  font-size: 16px;
  font-weight: 700;
}
.hni-product__item .price span.price-disc {
  text-decoration: line-through;
  color: #AAAAAA;
  margin-right: 5px;
}
.hni-product__item .btn {
  line-height: 1.2em;
}

@media (min-width: 1200px) {
  .hni-product {
    padding: 90px 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hni-product__row .hni-product__col {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .hni-product {
    padding: 40px 0;
  }
  .hni-product__row .hni-product__col {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .hni-product__row .hni-product__col {
    width: 50%;
  }
  .hni-product__item .product-img .product-band {
    font-size: 7px;
    width: 28px;
    height: 28px;
  }
  .hni-product__item .hni-breadcrumb {
    display: none;
  }
  .hni-product__item h5 {
    font-size: 14px;
    margin-top: 0;
  }
  .hni-product__item .price span {
    font-size: 12px;
  }
  .hni-product__item .price span.price-disc {
    display: none;
  }
  .hni-product__item .btn {
    font-size: 13px;
    padding: 6px 20px;
  }
}
/*---PRODUCT DETAIL---*/
.hni-product__detail {
  padding: 90px 0;
}

.hni-pd__right {
  position: relative;
}
.hni-pd__right .btn-wishlist {
  position: absolute;
  top: 5px;
  right: 5px;
}
.hni-pd__right .btn-wishlist:hover svg {
  color: #ff0000;
}
.hni-pd__right h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
  padding-right: 35px;
}
.hni-pd__right h5 {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0;
  line-height: 1.5em;
}
.hni-pd__right p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 0;
}
.hni-pd__right h3 {
  font-size: 24px;
  margin-bottom: 0;
  line-height: normal;
}
.hni-pd__right > div {
  margin-bottom: 20px;
}
.hni-pd__right .btn {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .hni-product__detail {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .hni-pd__right h2 {
    font-size: 32px;
  }
  .hni-pd__right h5, .hni-pd__right p {
    font-size: 14px;
  }
  .hni-pd__right h3 {
    font-size: 20px;
  }
}
/*---SIMILAR PRODUCT---*/
.hni-similar-product {
  background-color: #F4F4F4;
  padding: 90px 0;
}

/*---SEARCH PRODUCT CARD---*/
.hni-product__card {
  margin: 40px 0;
}
.hni-product__card .hni-pc__item {
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border: 1px solid #DEDEDE;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  margin: 20px 0;
}
.hni-product__card .hni-pc__item .btn-wishlist {
  margin-right: 20px;
  display: inline-block;
}
.hni-product__card .hni-pc__item .img-left {
  width: 100px;
  height: 100px;
}
.hni-product__card .hni-pc__item .img-left img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hni-product__card .hni-pc__item .product-line {
  width: 47px;
  margin: 0 10px;
}
.hni-product__card .hni-pc__item .desc-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1%;
}
.hni-product__card .hni-pc__item .desc-right .hni-breadcrumb {
  text-align: left;
  display: table;
  font-size: 14px;
}
.hni-product__card .hni-pc__item .desc-right h5 {
  margin: 5px 0;
  font-size: 24px;
  line-height: 1em;
  font-weight: 700;
}
.hni-product__card .hni-pc__item .desc-right h5 a:hover {
  color: #5E982A;
}
.hni-product__card .hni-pc__item .desc-right .price {
  font-size: 16px;
  font-weight: 700;
  color: #748B5F;
  display: table;
}
.hni-product__card .hni-pc__item .desc-right .btn {
  padding: 7px 25px;
}

@media (max-width: 767px) {
  .hni-product__card .hni-pc__item {
    display: block;
  }
  .hni-product__card .hni-pc__item .img-left {
    width: 50%;
    display: table;
    margin: 0 auto;
    height: auto;
  }
  .hni-product__card .hni-pc__item .product-line {
    display: none;
  }
  .hni-product__card .hni-pc__item .desc-right {
    display: block;
    margin-top: 10px;
  }
  .hni-product__card .hni-pc__item .desc-right .btn {
    display: table;
    margin: 0 auto;
    margin-top: 15px;
  }
  .hni-product__card .hni-pc__item .btn-wishlist {
    margin-right: 0;
    margin-top: 10px;
    display: block;
    text-align: center;
  }
}
/*---End:: Main Content - Product---*/
#main-img.owl-theme {
  position: relative;
}
#main-img .item {
  margin: 5px;
  text-align: center;
}
#main-img .item .img-content {
  border: 1px solid #dedede;
  color: #000;
  width: 100%;
}
#main-img .item .img-content img {
  width: 100%;
}

#thumb-img .current .item {
  border-color: #5E982A;
  opacity: 1;
}
#thumb-img .item {
  margin: 5px 0;
  border: 1px solid #dedede;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 768px) {
  #thumb-img {
    width: 89px;
    margin: 0 auto;
  }
  #thumb-img .owl-item {
    float: none;
    width: 89px !important;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #thumb-img {
    width: 70px;
  }
  #thumb-img .owl-item {
    width: 70px !important;
  }
}
@media (max-width: 991px) {
  .hni-pd__img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #thumb-img .item {
    margin: 5px auto;
    width: 90%;
  }
}
/*---Start:: Main Content - Discount Homepage---*/
.hni-banner__main {
  position: relative;
  padding: 60px 0;
}
.hni-banner__main::before {
  position: absolute;
  background-color: #F4F4F4;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  content: "";
}
.hni-banner__main .hni-banner__item img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .hni-banner__main {
    padding: 90px 0;
  }
  .hni-banner__main::before {
    height: 300px;
  }
}
@media (max-width: 991px) {
  .hni-banner__main {
    padding: 40px 0;
  }
  .hni-banner__main::before {
    height: 150px;
  }
}
@media (max-width: 767px) {
  .hni-banner__main {
    padding: 30px 0;
  }
  .hni-banner__main .hni-banner__item {
    margin: 10px 0;
  }
}
/*---End:: Main Content - Discount Homepage---*/
/*---Start:: Main Content - Payment---*/
.hni-payment {
  margin: 40px auto;
  max-width: 950px;
}
.hni-payment .hni-title h5 {
  font-size: 18px;
  padding-bottom: 20px;
}
.hni-payment__sidebar {
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 30px;
  position: relative;
}
.hni-payment__sidebar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/payment-frame.png);
  height: 21px;
  width: 100%;
}
.hni-payment__sidebar .hni-ps__cart .ps-cart__item {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  color: #333333;
  margin: 20px 0;
}
.hni-payment__sidebar .hni-ps__cart .ps-cart__item .psc-img {
  width: 60px;
  height: 60px;
}
.hni-payment__sidebar .hni-ps__cart .ps-cart__item .psc-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.hni-payment__sidebar .hni-ps__cart .ps-cart__item .psc-title {
  margin-left: 20px;
  margin-right: 15px;
  flex: 1%;
}
.hni-payment__sidebar .hni-ps__address {
  padding: 20px 0;
  margin: 20px 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.hni-payment__sidebar .hni-ps__address span {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
.hni-payment__sidebar .hni-ps__address h5 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal;
}
.hni-payment__sidebar .hni-ps__address p {
  font-size: 14px;
  margin-bottom: 0;
  color: #777777;
}
.hni-payment__sidebar .hni-ps__address p span {
  color: #000000;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
}
.hni-payment__sidebar .hni-ps__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.hni-payment__content {
  padding: 30px;
}
.hni-payment__content > .btn {
  margin-top: 20px;
}
.hni-payment__content .hni-payment__select_acc label {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  display: block;
}
.hni-payment__content .hni-payment__select_acc .hni-payment__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hni-payment__content .hni-payment__select_acc .hni-payment__account .form-select {
  max-width: 290px;
  padding: 12px 20px;
}
.hni-payment__content .hni-payment__select_acc .hni-payment__account .btn {
  font-size: 14px;
  padding: 8px 15px;
  margin: 0;
}
.hni-payment__content .hni-payment__select_acc .hni-payment__account .btn svg {
  font-size: 13px;
  color: #5E982A;
  margin-right: 5px;
}
.hni-payment__content p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
.hni-payment .hni-list__bank {
  color: #333333;
  width: 100%;
  margin-bottom: 30px;
}
.hni-payment .hni-list__bank li {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  display: flex;
}
.hni-payment .hni-list__bank li > div:first-child {
  width: 115px;
}
.hni-payment .hni-list__bank li > div:nth-child(2) {
  flex: 1%;
  margin-left: 25px;
  margin-right: 20px;
}
.hni-payment .hni-list__bank li span {
  display: block;
  font-size: 12px;
  line-height: 1.5em;
}
.hni-payment .hni-list__bank li h5 {
  line-height: 1.5em;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.hni-payment__confirmation {
  border: 1px solid #dedede;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 30px;
  margin: 90px auto;
  max-width: 100%;
  width: 660px;
}
.hni-payment__confirmation h5 {
  font-size: 16px;
  margin-bottom: 20px;
}
.hni-payment__confirmation .btn {
  margin: 0 auto;
  display: table;
}
.hni-payment__confirmation .form-file {
  background-color: #FAFAFA;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -border-radius: 6px;
  border: 1px solid #dedede;
  position: relative;
  padding: 60px 20px;
  margin-bottom: 30px;
}
.hni-payment__confirmation .form-file .custom-file-input {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.hni-payment__confirmation .form-file .drag-text {
  text-align: center;
  font-size: 14px;
  color: #555555;
}
.hni-payment__confirmation .form-file .drag-text svg {
  font-size: 36px;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .hni-payment .hni-title h5 {
    padding-bottom: 15px;
  }
  .hni-payment__sidebar {
    padding: 20px;
  }
  .hni-payment__content {
    padding: 20px 0;
  }
  .hni-payment__content .hni-payment__select_acc .hni-payment__account {
    display: block;
  }
  .hni-payment__content .hni-payment__select_acc .hni-payment__account .form-select {
    margin-bottom: 10px;
    max-width: 100%;
    padding: 8px 15px;
  }
  .hni-payment__content .hni-payment__select_acc label,
.hni-payment__content .hni-payment__select_acc .form-select,
.hni-payment__content p {
    font-size: 14px;
  }
  .hni-payment .hni-list__bank li {
    display: block;
  }
  .hni-payment .hni-list__bank li > div:first-child {
    width: auto;
  }
  .hni-payment .hni-list__bank li > div:nth-child(2) {
    margin: 5px 0;
    flex: unset;
  }
  .hni-payment__confirmation {
    padding: 20px;
    margin: 40px 0;
  }
  .hni-payment__confirmation .form-file {
    padding: 40px 15px;
  }
}
@media (max-width: 767px) {
  .hni-payment__sidebar {
    margin-bottom: 40px;
  }
}
/*---End:: Main Content - Payment---*/
/*---Start:: Cart---*/
.hni-table__cart {
  margin-bottom: 0;
}
.hni-table__cart tr th {
  background-color: #E2EFD7;
  padding: 1rem;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  vertical-align: middle;
  border: none;
}
.hni-table__cart tr th:last-child {
  padding-right: 40px;
}
.hni-table__cart tr th:first-child {
  width: 122px;
}
.hni-table__cart tr td {
  padding: 20px 1rem;
  vertical-align: middle;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #dedede;
}
.hni-table__cart tr td a:hover {
  color: #5E982A;
}
.hni-table__cart tr td:last-child {
  padding-right: 40px;
}
.hni-table__cart tr td .product-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.hni-table__cart tr td svg {
  font-size: 18px;
  color: #5E982A;
  vertical-align: middle;
}
.hni-table__cart tr td .cart-add-remove {
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -border-radius: 6px;
  width: 150px;
}
.hni-table__cart tr td .cart-add-remove a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hni-table__cart tr td .cart-add-remove .input-cart {
  flex: 1%;
  height: 40px;
}
.hni-table__cart tr td .cart-add-remove .input-cart input {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -border-radius: 0;
  text-align: center;
  font-size: 16px;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  .hni-table__cart tr th:last-child,
.hni-table__cart tr td:last-child {
    padding-right: 1rem;
  }
  .hni-table__cart tr th {
    min-width: 125px;
  }
}
.hni-cart__shipping {
  margin-top: 30px;
  margin-bottom: 20px;
}
.hni-cart__shipping label {
  display: block;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
.hni-cart__shipping .form-select {
  padding: 12px 20px;
}
.hni-cart__shipping .hni-cs__cost {
  padding-right: 40px;
  font-size: 16px;
  color: #333333;
}
.hni-cart__shipping .hni-cs__destination .form-select {
  max-width: 200px;
}
.hni-cart__shipping .hni-cs__destination .btn {
  font-size: 14px;
  padding: 8px 10px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -border-radius: 6px;
  margin-left: 10px;
}
.hni-cart__shipping .hni-cs__destination .btn svg {
  font-size: 13px;
  color: #5E982A;
  margin-right: 5px;
}

.hni-cart__payment {
  background-color: #F4F4F4;
  border-top: 1px solid #dedede;
  margin-bottom: 40px;
  padding: 20px 40px 20px 0;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}

@media (max-width: 991px) {
  .hni-cart__shipping .hni-cs__destination .form-select {
    max-width: 100%;
  }
  .hni-cart__shipping .hni-cs__destination .btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .hni-cart__shipping .hni-cs__expedition {
    margin-bottom: 20px;
  }

  .hni-cart__shipping .hni-cs__cost,
.hni-cart__payment {
    padding-right: 20px;
  }
}
/*---End:: Cart---*/
/*---Start:: Login---*/
.hni-login {
  padding: 150px 0 90px 0;
}
.hni-login .hni-login__content {
  max-width: 890px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -border-radius: 8px;
  display: flex;
  height: 100%;
}
.hni-login__left {
  position: relative;
  width: 320px;
}
.hni-login__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.hni-login__right {
  padding: 40px 50px;
}
.hni-login__right h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.hni-login__right p {
  font-size: 16px;
  color: #333333;
  margin: 0;
}
.hni-login__right .login-notes {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin-top: 40px;
}
.hni-login__right .login-notes a {
  color: #5E982A;
  font-weight: 700;
}
.hni-login__right form {
  margin: 40px 0;
}
.hni-login__right form .form-control {
  padding: 14px 20px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -border-radius: 6px;
  color: #333333;
  margin-bottom: 10px;
}
.hni-login__right form .forget-password {
  display: table;
  margin-left: auto;
  font-size: 14px;
  color: #5E982A;
}
.hni-login__right form .forget-password:hover {
  color: #49781f;
}

@media (max-width: 767px) {
  .hni-login {
    padding: 80px 0 40px 0;
  }
  .hni-login__left {
    display: none;
  }
  .hni-login__right {
    padding: 30px;
  }
  .hni-login__right h1 {
    font-size: 24px;
  }
  .hni-login__right p,
.hni-login__right .form-control {
    font-size: 14px;
  }
  .hni-login__right form {
    margin: 20px 0;
  }
  .hni-login__right form .form-control {
    padding: 10px 15px;
  }
  .hni-login__right .login-notes {
    margin-top: 20px;
  }
}
/*---End:: Login---*/
/*---Start:: Account Sidebar---*/
.hni-account__sidebar {
  width: 100%;
  max-width: 320px;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.hni-account__sidebar .hni-profile__picture {
  padding: 30px calc((100% - 160px) / 2);
  width: 100%;
  position: relative;
}
.hni-account__sidebar .hni-profile__picture figure {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.hni-account__sidebar .hni-profile__picture figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hni-account__sidebar .hni-profile__picture .hni-change__photo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.hni-account__sidebar .hni-profile__picture .hni-change__photo input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.hni-account__sidebar .hni-profile__picture .hni-change__photo::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/ic-camera.svg) no-repeat center;
}
.hni-account__sidebar .hni-acc__nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.hni-account__sidebar .hni-acc__nav li {
  height: 60px;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.hni-account__sidebar .hni-acc__nav li:last-child {
  border-bottom: none;
}
.hni-account__sidebar .hni-acc__nav li a {
  display: block;
  width: 100%;
  height: 60px;
  padding: 18px 30px 15px 80px;
  font-size: 16px;
  color: #333;
}
.hni-account__sidebar .hni-acc__nav li a svg {
  position: absolute;
  left: 40px;
  transform: translateX(-50%);
  font-size: 20px;
  color: #5E982A;
}
.hni-account__sidebar .hni-acc__nav li a:hover {
  background: #eaeaea;
}
.hni-account__sidebar .hni-acc__nav li.active a {
  background: #5E982A;
  color: #fff;
}
.hni-account__sidebar .hni-acc__nav li.active a svg {
  color: #fff;
}

/*---End:: Account Sidebar---*/
/*---Start:: Account Sidebar---*/
.hni-dashboard__content {
  width: 100%;
  padding: 30px 50px;
  border: 1px solid #dedede;
  border-radius: 8px;
  float: left;
}
.hni-dashboard__content h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}
.hni-dashboard__content form {
  width: 100%;
  float: left;
  max-width: 460px;
}
.hni-dashboard__content form .hni-inp_group {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  float: left;
}
.hni-dashboard__content form .hni-inp_group.radio {
  margin-bottom: 0;
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}
.hni-dashboard__content form .hni-inp_group.radio:first {
  padding-top: 0;
}
.hni-dashboard__content form .hni-inp_group.radio:last-child {
  margin-bottom: 30px;
}
.hni-dashboard__content form .hni-inp_group.radio label {
  font-size: 16px;
  margin-top: -3px;
  margin-bottom: 0;
}
.hni-dashboard__content form .hni-inp_group.radio label span {
  width: 100%;
  display: block;
  color: #888;
  font-size: 14px;
}
.hni-dashboard__content form label {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.hni-dashboard__content form input[type=text],
.hni-dashboard__content form input[type=email],
.hni-dashboard__content form input[type=password],
.hni-dashboard__content form select {
  width: 100%;
  float: left;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background: #fff;
}
.hni-dashboard__content form textarea {
  width: 100%;
  float: left;
  height: 160px;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 6px;
}
.hni-dashboard__content form input[type=radio],
.hni-dashboard__content form input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  float: left;
}
.hni-dashboard__content form input[type=radio] + label,
.hni-dashboard__content form input[type=checkbox] + label {
  width: calc(100% - 40px);
  float: left;
}

/*---End:: Account Sidebar---*/
/*---PAGINATION---*/
.hni-pagination {
  display: table;
  margin: 0 auto;
}
.hni-pagination ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5E982A;
  padding: 15px 20px;
  -webkit-border-radius: 35px;
  -ms-border-radius: 35px;
  -border-radius: 35px;
}
.hni-pagination ul li {
  border-left: 1px solid #AAAAAA;
}
.hni-pagination ul li:first-child {
  border-left: none;
}
.hni-pagination ul li a {
  color: #AAAAAA;
  font-weight: 700;
  display: block;
  padding: 0 10px;
  line-height: normal;
}
.hni-pagination ul li.active a,
.hni-pagination ul li a:hover {
  color: #5E982A;
}

.hni-account_dashboard {
  padding: 90px 0;
}

/*# sourceMappingURL=main.css.map */
